<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datangdu.cn.dao.mapper.ProductUserMapper">
  <resultMap id="BaseResultMap" type="com.datangdu.cn.model.product_user.ProductUser">
    <id column="p_id" jdbcType="INTEGER" property="pId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="provider_info" jdbcType="VARCHAR" property="providerInfo" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="work_time" jdbcType="VARCHAR" property="workTime" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="register_time" jdbcType="VARCHAR" property="registerTime" />
    <result column="regin" jdbcType="VARCHAR" property="regin" />
    <result column="productu_id" jdbcType="INTEGER" property="productuId" />
    <result column="productname" jdbcType="VARCHAR" property="productname" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.datangdu.cn.model.product_user.ProductUserWithBLOBs">
      <result column="provider_img" jdbcType="LONGVARBINARY" property="providerImg" />
    <result column="auth_file" jdbcType="LONGVARBINARY" property="authFile" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    p_id, username, password, tel, provider_info, qq, work_time, wechat, email, register_time, 
    regin, productu_id, productname
  </sql>
  <sql id="LONGVARBINARY_Column_List">
    provider_img, auth_file
  </sql>
  <select id="getUserImg" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
  select
   provider_img,email,qq,wechat,regin
   from product_user
   where tel=#{tel} 
  
  </select>
  <select id="selectByExampleWithLONGVARBINARYs" parameterType="com.datangdu.cn.model.product_user.ProductUserExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="LONGVARBINARY_Column_List" />
    from product_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.datangdu.cn.model.product_user.ProductUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="LONGVARBINARY_Column_List" />
    from product_user
    where p_id = #{pId,jdbcType=INTEGER}
  </select>
   <select id="selectByTel" parameterType="com.datangdu.cn.model.product_user.ProductUserExample" resultMap="BaseResultMap">
  select *
   <if test="distinct">
      distinct
    </if>
 
  from product_user
  <where>
  <if test="tel!=null and tel!=''">
  tel=${tel}
  
  </if>
  </where>
  </select>
  <select id="selectBytel" parameterType="com.datangdu.cn.model.product_user.ProductUserWithBLOBs" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="LONGVARBINARY_Column_List" />
    from product_user
    where tel = #{tel}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_user
    where p_id = #{pId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.datangdu.cn.model.product_user.ProductUserExample">
    delete from product_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
   <insert id="register" parameterType="com.datangdu.cn.model.product_user.ProductUser">
  insert into product_user(p_id, username, password, 
      tel, provider_info, qq, 
      work_time, wechat, email, 
      register_time, regin, productu_id, 
      productname)
   values (#{pId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{providerInfo,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{workTime,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{registerTime,jdbcType=VARCHAR}, #{regin,jdbcType=VARCHAR}, #{productuId,jdbcType=INTEGER}, 
      #{productname,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="insert" parameterType="com.datangdu.cn.model.product_user.ProductUserWithBLOBs">
    insert into product_user (p_id, username, password, 
      tel, provider_info, qq, 
      work_time, wechat, email, 
      register_time, regin, productu_id, 
      productname, provider_img, auth_file
      )
    values (#{pId,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{providerInfo,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{workTime,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{registerTime,jdbcType=VARCHAR}, #{regin,jdbcType=VARCHAR}, #{productuId,jdbcType=INTEGER}, 
      #{productname,jdbcType=VARCHAR}, #{providerImg,jdbcType=LONGVARBINARY}, #{authFile,jdbcType=LONGVARBINARY}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.datangdu.cn.model.product_user.ProductUserWithBLOBs">
    insert into product_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        p_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="providerInfo != null">
        provider_info,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="workTime != null">
        work_time,
      </if>
      <if test="wechat != null">
        wechat,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="registerTime != null">
        register_time,
      </if>
      <if test="regin != null">
        regin,
      </if>
      <if test="productuId != null">
        productu_id,
      </if>
      <if test="productname != null">
        productname,
      </if>
      <if test="providerImg != null">
        provider_img,
      </if>
      <if test="authFile != null">
        auth_file,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pId != null">
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="providerInfo != null">
        #{providerInfo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null">
        #{workTime,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        #{registerTime,jdbcType=VARCHAR},
      </if>
      <if test="regin != null">
        #{regin,jdbcType=VARCHAR},
      </if>
      <if test="productuId != null">
        #{productuId,jdbcType=INTEGER},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="providerImg != null">
        #{providerImg,jdbcType=LONGVARBINARY},
      </if>
      <if test="authFile != null">
        #{authFile,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.datangdu.cn.model.product_user.ProductUserExample" resultType="java.lang.Long">
    select count(*) from product_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_user
    <set>
      <if test="record.pId != null">
        p_id = #{record.pId,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null">
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.providerInfo != null">
        provider_info = #{record.providerInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null">
        qq = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.workTime != null">
        work_time = #{record.workTime,jdbcType=VARCHAR},
      </if>
      <if test="record.wechat != null">
        wechat = #{record.wechat,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.registerTime != null">
        register_time = #{record.registerTime,jdbcType=VARCHAR},
      </if>
      <if test="record.regin != null">
        regin = #{record.regin,jdbcType=VARCHAR},
      </if>
      <if test="record.productuId != null">
        productu_id = #{record.productuId,jdbcType=INTEGER},
      </if>
      <if test="record.productname != null">
        productname = #{record.productname,jdbcType=VARCHAR},
      </if>
      <if test="record.providerImg != null">
        provider_img = #{record.providerImg,jdbcType=LONGVARBINARY},
      </if>
      <if test="record.authFile != null">
        auth_file = #{record.authFile,jdbcType=LONGVARBINARY},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update product_user
    set p_id = #{record.pId,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      provider_info = #{record.providerInfo,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      work_time = #{record.workTime,jdbcType=VARCHAR},
      wechat = #{record.wechat,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      register_time = #{record.registerTime,jdbcType=VARCHAR},
      regin = #{record.regin,jdbcType=VARCHAR},
      productu_id = #{record.productuId,jdbcType=INTEGER},
      productname = #{record.productname,jdbcType=VARCHAR},
      provider_img = #{record.providerImg,jdbcType=LONGVARBINARY},
      auth_file = #{record.authFile,jdbcType=LONGVARBINARY}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <!-- 修改密码 -->
  <update id="repassword" parameterType="com.datangdu.cn.model.product_user.ProductUser" >
  
   update product_user
    set 
      password = #{password,jdbcType=VARCHAR}
     
    where tel = #{tel,jdbcType=VARCHAR}
  
  </update>
  <update id="updateByExample" parameterType="map">
    update product_user
    set p_id = #{record.pId,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      provider_info = #{record.providerInfo,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      work_time = #{record.workTime,jdbcType=VARCHAR},
      wechat = #{record.wechat,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      register_time = #{record.registerTime,jdbcType=VARCHAR},
      regin = #{record.regin,jdbcType=VARCHAR},
      productu_id = #{record.productuId,jdbcType=INTEGER},
      productname = #{record.productname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.datangdu.cn.model.product_user.ProductUserWithBLOBs">
    update product_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="providerInfo != null">
        provider_info = #{providerInfo,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="workTime != null">
        work_time = #{workTime,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null">
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="registerTime != null">
        register_time = #{registerTime,jdbcType=VARCHAR},
      </if>
      <if test="regin != null">
        regin = #{regin,jdbcType=VARCHAR},
      </if>
      <if test="productuId != null">
        productu_id = #{productuId,jdbcType=INTEGER},
      </if>
      <if test="productname != null">
        productname = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="providerImg != null">
        provider_img = #{providerImg,jdbcType=LONGVARBINARY},
      </if>
      <if test="authFile != null">
        auth_file = #{authFile,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.datangdu.cn.model.product_user.ProductUserWithBLOBs">
    update product_user
    set 
     
       provider_img = #{providerImg,jdbcType=LONGVARBINARY},
      qq = #{qq,jdbcType=VARCHAR},
   
      wechat = #{wechat,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
 
      regin = #{regin,jdbcType=VARCHAR}
   
    
     
    
    where  tel = #{tel,jdbcType=VARCHAR}
  </update>
  <!-- 修改服务商头像 -->
  <!--  <update id=" productHeadImg" parameterType="com.datangdu.cn.model.product_user.ProductUserWithLONGVARBINARYs">
  update product_user
  set
  provider_img = #{providerImg,jdbcType=LONGVARBINARY}
  where tel = #{tel,jdbcType=VARCHAR}
  
  
  
  
  
  </update>-->
  <update id="updateByPrimaryKey" parameterType="com.datangdu.cn.model.product_user.ProductUser">
    update product_user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      provider_info = #{providerInfo,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      work_time = #{workTime,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      register_time = #{registerTime,jdbcType=VARCHAR},
      regin = #{regin,jdbcType=VARCHAR},
      productu_id = #{productuId,jdbcType=INTEGER},
      productname = #{productname,jdbcType=VARCHAR}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
</mapper>